<mat-toolbar class="conf-header">
  <ul>
    <li>
      <button mat-icon-button>
        <mat-icon>group</mat-icon>
      </button>
    </li>
    <li>
      <button mat-icon-button (click)="shareScreen()">
        <mat-icon>laptop</mat-icon>
      </button>
    </li>
  </ul>
  <ul>
    <li>
      <button mat-icon-button>

        <mat-icon>fiber_manual_record</mat-icon>
      </button>
    </li>
    <li>
      <button mat-icon-button>
        <mat-icon>settings</mat-icon>
      </button>
    </li>
  </ul>
</mat-toolbar>